.Navbar_up{
    top: -70px !important;
    top:0;
    opacity: 0.6;
}

.Navbar_container{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: black;
    text-align: center;
    z-index:9;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease-in-out;
}
.Navbar_container:hover{
    top: 0 !important;
    opacity: 1;
}
.Navbar {
    position: sticky;
    /* background-color: rgba(255, 255, 255, 1); */
    border-radius: 30px;
    width: 90%;
    height: 40px;
}
.Navbar_listado{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: inherit;
}

.Navbar_listado p{
    margin-bottom: 0;
    cursor: pointer;
    transition: 0.3s;
    margin: 5px 15px;
}

.Navbar_listado p:hover{
    font-size: large;
    font-weight: bold; 
}
.Navbar_boton{
    margin-top: 40px;
}
.Navbar_nube_container{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100px;
    width: 100%;
    transition: 0.4s;

}
.Navbar_nube{
    width: 100%;
    filter: blur(0.5px);
}
